<form class="container" style="margin-top: 20px;" #ownerform="ngForm" (ngSubmit)="submit()">
    <div class="form-group"> 
        <label for="firstName"><b>Nombre: </b> </label>
        <input type="text" required [(ngModel)]="owner.firstName" name="firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Nombre no valido</div>
    </div>
    <br>
    <div class="form-group">
        <label for="lastName"><b>Apellidos: </b> </label>
        <input type="text" required [(ngModel)]="owner.lastName" name="lastName"  #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Apellido no valido</div>
    </div>
    <br>
    <div class="form-group">
        <label for="lastName"><b>Direccion: </b> </label>
        <input type="text" required [(ngModel)]="owner.address" name="address" #address="ngModel">
        <div [hidden]="address.valid || address.pristine" class="alert alert-danger">Direccion no valida</div>
    </div>
    <br>
    <div class="form-group">
        <label for="lastName"><b>Ciudad: </b> </label>
        <input type="text" required [(ngModel)]="owner.city" name="city" #city="ngModel">
        <div [hidden]="city.valid || city.pristine" class="alert alert-danger">Ciudad no valida</div>
    </div>
    <br>
    <div class="form-group">
        <label for="lastName"><b>Telefono: </b> </label>
        <input type="text" [(ngModel)]="owner.telephone" name="telephone">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info" [disabled]="!ownerform.valid">Enviar</button>
    </div>
</form>
